<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>Net Pro Shop</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" href='{% static "imagenes/logo.png" %}' />

    <link
      rel="shortcut icon"
      type="image/x-icon"
      href='{% static "imagenes/logo.png" %}'
    />
    <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}' />
    <link rel="stylesheet" href='{% static "css/templatemo.css" %}' />
    <link rel="stylesheet" href='{% static "css/custom.css" %}' />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap"
    />
    <link rel="stylesheet" href='{% static "css/fontawesome.min.css" %}' />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
    />
    <style>
      .float {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 40px;
        right: 40px;
        background-color: #25d366;
        color: white;
        border-radius: 50px;
        text-align: center;
        box-shadow: 2px 2px 3px #999;
        z-index: 1000;
      }
      .my-float {
        margin-top: 16px;
        font-size: 30px;
      }
    </style>
  </head>

  <body>
    <!-- Start Top Nav -->
    <nav
      class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block"
      id="templatemo_nav_top"
    >
      <div class="container text-light">
        <div class="w-100 d-flex justify-content-between">
          <div>
            <i class="fa fa-envelope mx-2"></i>
            <a
              class="navbar-sm-brand text-light text-decoration-none"
              href="mailto:info@company.com"
              >xxnetproshop@gmail.com</a
            >
            <i class="fa fa-phone mx-2"></i>
            <a
              class="navbar-sm-brand text-light text-decoration-none"
              href="tel:010-020-0340"
              >3219801996</a
            >
          </div>
          <div>
            <a class="text-light" href="" target="_blank" rel="sponsored"
              ><i class="fab fa-facebook-f fa-sm fa-fw me-2"></i
            ></a>
            <a class="text-light" href="" target="_blank"
              ><i class="fab fa-instagram fa-sm fa-fw me-2"></i
            ></a>
            <a class="text-light" href="" target="_blank"
              ><i class="fab fa-twitter fa-sm fa-fw me-2"></i
            ></a>
            <a class="text-light" href="" target="_blank"
              ><i class="fab fa-linkedin fa-sm fa-fw"></i
            ></a>
          </div>
        </div>
      </div>
    </nav>
    <!-- Close Top Nav -->

    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light shadow">
      <div class="container d-flex justify-content-between align-items-center">
        <a class="navbar-brand text-success logo h1 align-self-center" href="/">
          Manten UDEC
        </a>

        <button
          class="navbar-toggler border-0"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#templatemo_main_nav"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="align-self-center collapse navbar-collapse flex-fill d-lg-flex justify-content-lg-between"
          id="templatemo_main_nav"
        >
          <div class="flex-fill">
            <ul
              class="nav navbar-nav d-flex justify-content-between mx-lg-auto"
            >
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="">Servicios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/visven/">Tienda</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="">Contactanos</a>
              </li>
            </ul>
          </div>
          <div class="navbar align-self-center d-flex">
            <div
              class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3"
            >
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  id="inputMobileSearch"
                  placeholder="Search ..."
                />
                <div class="input-group-text">
                  <i class="fa fa-fw fa-search"></i>
                </div>
              </div>
            </div>
            <a
              class="nav-icon d-none d-lg-inline"
              href="#"
              data-bs-toggle="modal"
              data-bs-target="#templatemo_search"
            >
              <i class="fa fa-fw fa-search text-dark mr-2"></i>
            </a>
            <a
              class="nav-icon position-relative text-decoration-none"
              href="/carrito"
            >
              <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
              <span
                class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark"
              ></span>
            </a>
            <a class="nav-icon position-relative text-decoration-none" href="#">
              <i class="fa fa-fw fa-user text-dark mr-3"></i>
              <span
                class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark"
              ></span>
            </a>
          </div>
        </div>
      </div>
    </nav>
    <!-- Close Header -->

    <!-- Modal -->
    <div
      class="modal fade bg-white"
      id="templatemo_search"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg" role="document">
        <div class="w-100 pt-1 mb-5 text-right">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <form
          action=""
          method="get"
          class="modal-content modal-body border-0 p-0"
        >
          <div class="input-group mb-2">
            <input
              type="text"
              class="form-control"
              id="inputModalSearch"
              name="q"
              placeholder="Search ..."
            />
            <button
              type="submit"
              class="input-group-text bg-success text-light"
            >
              <i class="fa fa-fw fa-search text-white"></i>
            </button>
          </div>
        </form>
      </div>
    </div>

    <!-- Start Content -->
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-3">
          <h1 class="h2 pb-4">Productos</h1>
          <ul class="list-unstyled templatemo-accordion">
            <li class="pb-3">
              <a
                class="collapsed d-flex justify-content-between h3 text-decoration-none"
                href="#"
              >
                Categoria
                <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
              </a>
              <ul class="list-inline shop-top-menu pb-3 pt-1">
                <li class="list-inline-item">
                  <a
                    class="h3 text-dark text-decoration-none mr-3"
                    href="?categoria=ropa"
                    >pendiente</a
                  >
                </li>
                <br />
                <li class="list-inline-item">
                  <a
                    class="h3 text-dark text-decoration-none"
                    href="?categoria=calzado"
                    >pendiente</a
                  >
                </li>
                <br />
                <li class="list-inline-item">
                  <a
                    class="h3 text-dark text-decoration-none"
                    href="?categoria=equipamiento"
                    >pendiente</a
                  >
                </li>
                <br />
                <li class="list-inline-item">
                  <a
                    class="h3 text-dark text-decoration-none"
                    href="?categoria=accesorios"
                    >pendiente</a
                  >
                </li>
                <br />
                <li class="list-inline-item">
                  <a
                    class="h3 text-dark text-decoration-none"
                    href="?categoria=electronicos"
                    >pendiente</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </div>

        <div class="col-lg-9">
          <div class="row">
            <div class="col-md-6">
              <ul class="list-inline shop-top-menu pb-3 pt-1">
                <li class="list-inline-item">
                  <a
                    class="h3 text-dark text-decoration-none mr-3"
                    href="?categoria="
                    >Todos</a
                  >
                </li>
              </ul>
            </div>
            <div class="col-md-6 pb-4">
              <div class="d-flex">
                <select id="orden-select" class="form-control">
                  <option value="featured">Orden</option>
                  <option value="az">A to Z</option>
                  <option value="za">Z to A</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="container">
              <div class="row">
                {% for producto in productos %}
                <div class="col-md-4">
                  <div class="card mb-4 product-wap rounded-0">
                    <div class="card rounded-0">
                      <img
                        class="card-img rounded-0 img-fluid"
                        src="{{ producto.Foto.url }}"
                      />
                      <div
                        class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center"
                      >
                        <ul class="list-unstyled">
                          <li>
                            <a
                              class="btn btn-success text-white"
                              href="{% url 'visven' %}"
                            >
                              <i class="far fa-heart"></i>
                            </a>
                          </li>
                          <li>
                            <a
                              class="btn btn-success text-white mt-2"
                              href="{% url 'detalle_producto' pk=producto.idProducto %}"
                            >
                              <i class="far fa-eye"></i>
                            </a>
                          </li>
                          <li>
                            <a
                              class="btn btn-success text-white mt-2"
                              href="{% url 'agregar_al_carrito' pk=producto.idProducto %}"
                            >
                              <i class="fas fa-cart-plus"></i>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="card-body">
                      <a
                        href="{% url 'detalle_producto' pk=producto.idProducto %}"
                        class="h3 text-decoration-none"
                        >{{ producto.Nombre }}</a
                      >
                      <p class="text-center mb-0">${{ producto.Valor }}</p>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Content -->

    <footer class="bg-dark" id="tempaltemo_footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4 pt-5">
            <h2 class="h2 text-success border-bottom pb-3 border-light logo">
              Manten UDEC
            </h2>
            <ul class="list-unstyled text-light footer-link-list">
              <li>
                <i class="fas fa-map-marker-alt fa-fw"></i>
                sin punto fisico
              </li>
              <li>
                <i class="fa fa-phone fa-fw"></i>
                <a class="text-decoration-none" href="tel:010-020-0340"
                  >3227007466</a
                >
              </li>
              <li>
                <i class="fa fa-envelope fa-fw"></i>
                <a class="text-decoration-none" href="mailto:info@company.com"
                  >xxnetproshop@gmail.com</a
                >
              </li>
            </ul>
          </div>

          <div class="col-md-4 pt-5">
            <h2 class="h2 text-light border-bottom pb-3 border-light">
              Productos
            </h2>
            <ul class="list-unstyled text-light footer-link-list">
              <li><a class="text-decoration-none" href="#">pendiente</a></li>
              <li><a class="text-decoration-none" href="#">pendiente</a></li>
              <li><a class="text-decoration-none" href="#">pendiente</a></li>
              <li>
                <a class="text-decoration-none" href="#">pendiente</a>
              </li>
              <li>
                <a class="text-decoration-none" href="#">pendiente</a>
              </li>
            </ul>
          </div>

          <div class="col-md-4 pt-5">
            <h2 class="h2 text-light border-bottom pb-3 border-light">
              Otros Servicios
            </h2>
            <ul class="list-unstyled text-light footer-link-list">
              <li><a class="text-decoration-none" href="#">Home</a></li>
              <li>
                <a class="text-decoration-none" href="#">Acerca de Nosotros</a>
              </li>
              <li><a class="text-decoration-none" href="#">Contactanos</a></li>
            </ul>
          </div>
        </div>

        <div class="row text-light mb-4">
          <div class="col-12 mb-3">
            <div class="w-100 my-3 border-top border-light"></div>
          </div>
          <div class="col-auto me-auto">
            <ul class="list-inline text-left footer-icons">
              <li
                class="list-inline-item border border-light rounded-circle text-center"
              >
                <a
                  class="text-light text-decoration-none"
                  target="_blank"
                  href="http://facebook.com/"
                  ><i class="fab fa-facebook-f fa-lg fa-fw"></i
                ></a>
              </li>
              <li
                class="list-inline-item border border-light rounded-circle text-center"
              >
                <a
                  class="text-light text-decoration-none"
                  target="_blank"
                  href="https://www.instagram.com/"
                  ><i class="fab fa-instagram fa-lg fa-fw"></i
                ></a>
              </li>
              <li
                class="list-inline-item border border-light rounded-circle text-center"
              >
                <a
                  class="text-light text-decoration-none"
                  target="_blank"
                  href="https://twitter.com/"
                  ><i class="fab fa-twitter fa-lg fa-fw"></i
                ></a>
              </li>
              <li
                class="list-inline-item border border-light rounded-circle text-center"
              >
                <a
                  class="text-light text-decoration-none"
                  target="_blank"
                  href="https://www.linkedin.com/"
                  ><i class="fab fa-linkedin fa-lg fa-fw"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="w-100 bg-black py-3">
        <div class="container">
          <div class="row pt-2">
            <div class="col-12">
              <p class="text-left text-light">
                Copyright &copy; 2024 Net Pro Shop | Designed by Duvan Sarmiento
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src='{% static "js/jquery-1.11.0.min.js" %}'></script>
    <script src='{% static "js/jquery-migrate-1.2.1.min.js" %}'></script>
    <script src='{% static "js/bootstrap.bundle.min.js" %}'></script>
    <script src='{% static "js/templatemo.js" %}'></script>
    <script src='{% static "js/custom.js" %}'></script>
    <a
      href="https://api.whatsapp.com/send/?phone=573014147352&tex=Hola!%20Podrias%20ayudarme%20con%20una%20inquietud%20t&type=phone_number&app_absent=0"
      class="float"
      target="_blank"
    >
      <i class="fa fa-whatsapp my-float"></i>
    </a>
  </body>
  <script>
    document
      .getElementById("orden-select")
      .addEventListener("change", function () {
        var orden = this.value;
        var url = window.location.href.split("?")[0]; // Obtener la URL base sin parámetros de consulta
        // Agregar el parámetro de orden a la URL
        if (orden !== "featured") {
          url += "?orden=" + orden;
        }
        window.location.href = url; // Redirigir a la nueva URL
      });
  </script>
</html>
